{
	token: "apitoken",
	dest: "destination user token",
	interval: 600,
	nodes: [
		{
			host: "ci-01.nyi.hardenedbsd.org",
			method: "HTTP",
		},
		{
			host: "ci-02.nyi.hardenedbsd.org",
			method: "HTTP",
			messages: {
				fail: "Custom fail message.",
			}
		},
		{
			host: "git-01.md.hardenedbsd.org",
			method: "TCP",
			port: 443,
		},
		{
			host: "localhost",
			method: "ZFS",
			pool: "rpool",
		},
	]
}
